<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="shortcut icon" href="./img/icono.ico" />
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<link rel="stylesheet" href="./css/erroresServidor.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
	<div id="panelCentral">
		<p><h1>Error interno del servidor</h1></p>
                <p>Se ha producido el siguiente error: <%= err.mensaje %></p>
                <p><%= err.detalle %></p>
	</div>
        <%- include("pie") %>
</div>
</body>
</html>