<cabecera>
<div id="cabecera">
		<div id="logo">
			<img src="./img/Logo.png">
		</div>
		<div id="datosUsuario">			
                    <% if(session.nick) { %>
                        <div id="infoConectado">
                                Bienvenido, <%= session.nick %>
                        </div>    
                        <div>
                            <form action="/logout" method="GET"> 
                                <div id="botonDesconectar">
                                        <input type="submit" value="Logout" />
                                </div>
                            </form>
                        </div>
                    <% } else { %>
                        <div id="infoConectado">
                                No est치s conectado.
                        </div>
                        <div>

                            <form action="procesar_login" method="POST"> 
                                <div><input type="text"  name="user" onblur="if (this.value == '') {this.value = 'Usuario';}"
                                                                                onfocus="if (this.value == 'Usuario') {this.value = '';}" 
                                                                                value="Usuario"></div>
                                <div><input type="password" name="password" onblur="if (this.value == '') {this.value = 'Contrase침a';}"
                                                                                onfocus="if (this.value == 'Contrase침a') {this.value = '';}" 
                                                                                value="Contrase침a"></div>
                                <div id="botonLogin">
                                        <input type="submit" value="Login">
                                </div>
                                <div id="botonNuevoUser">
                                        <input type="button" onclick="location.href='registro.html';" value="Nuevo Usuario" />
                                </div>
                            </form>
                        </div>
                    <% } %>
			
		</div>		
</div>
</cabecera>