<cabecera>
<div id="cabecera">
    <div id="logo">
            <a href="/index.html"><img src="./img/Logo.png"></a>
    </div>               

    <div id="datosUsuario">			
        <% if(session.nick) { %>
            <div id="infoConectado">
                    <div id = "fotoUsuario"><img src="/imagen/usuario/<%= session.nick %>" alt="Imagen de usuario" height="60" width="60"></div>
                     <div id = "estiloNickLogout">
                        <%= session.nick %>

                        <form action="/logout" method="GET"> 

                                    <input type="submit" value="Logout" id="submit" />

                        </form>
                      </div>
            </div>
        <% } else { %>
            <div id="infoConectado">
                    No est치s conectado.
            </div>
            <div>

                <form action="procesar_login" method="POST"> 
                    <div><input type="text"  name="user" onblur="if (this.value == '') {this.value = 'Usuario';}"
                                                                    onfocus="if (this.value == 'Usuario') {this.value = '';}" 
                                                                    value="Usuario"></div>
                    <div><input type="password" name="password" onblur="if (this.value == '') {this.value = 'Contrase침a';}"
                                                                    onfocus="if (this.value == 'Contrase침a') {this.value = '';}" 
                                                                    value="Contrase침a"></div>
                    <div id="botonLogin">
                            <input type="submit" value="Login" id="submit" >
                    </div>
                    <div id="botonNuevoUser">
                            <input type="button" id="submit" onclick="location.href='registro.html';" value="Nuevo Usuario" />
                    </div>
                </form>
            </div>
        <% } %>

    </div>	

    <div id="menu">
        <% if(session.nick) { %>
            <% if(pagina === "listaPartidas") { %>
                <a href="/index.html"><input type="submit" class="botonMenuActual" value="Panel Usuario"></a>
            <% } else { %>
                <a href="/index.html"><input type="submit" class="botonMenu" value="Panel Usuario"></a>
            <% } %>
            <% if(pagina === "unirsePartida") { %>
                <a href="/unirsePartida.html"><input type="submit" class="botonMenuActual" value="Unirse a partida"></a>
            <% } else { %>
                <a href="/unirsePartida.html"><input type="submit" class="botonMenu" value="Unirse a partida"></a>
            <% } %>
            <% if(pagina === "crearPartida") { %>
                <a href="/creaPartida.html"><input type="submit" class="botonMenuActual" value="Crear Partida"></a>
            <% } else { %>
                <a href="/creaPartida.html"><input type="submit" class="botonMenu" value="Crear Partida"></a>
            <% } %>
             <% if(pagina === "partida") { %>
                <a href="/partida.html?Nombre=<%= datosPartida.Nombre %>"><input type="submit" class="botonMenuActual" value="Partida"></a>
            <% } %>
        <% } else { %>
            <% if(pagina === "index") { %>
                <a href="/index.html"><input type="submit" class="botonMenuActual" value="Inicio"></a>
            <% } else { %>
                <a href="/index.html"><input type="submit" class="botonMenu" value="Inicio"></a>
            <% } %>
            <% if(pagina === "login") { %>
                <a href="/login.html"><input type="submit" class="botonMenuActual" value="Login"></a>
            <% } else { %>
                <a href="/login.html"><input type="submit" class="botonMenu" value="Login"></a>
            <% } %>
            <% if(pagina === "registro") { %>
                <a href="/registro.html"><input type="submit" class="botonMenuActual" value="Nuevo Usuario"></a>
            <% } else { %>
                <a href="/registro.html"><input type="submit" class="botonMenu" value="Nuevo Usuario"></a>
            <% } %>
        <% } %>

    </div>
</div>
</cabecera>