<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="/css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<div id="cabecera">
		<div id="logo">
			<img src="./img/Logo.png">
		</div>
		<div id="datosUsuario">
			<div id="infoConectado">
				No estás conectado.
			</div>
			<div>
				<form action="index.html" method="POST"> 
					<div><input type="text"  name="user" onblur="if (this.value == '') {this.value = 'Usuario';}"
 											onfocus="if (this.value == 'Usuario') {this.value = '';}" 
 											value="Usuario"></div>
					<div><input type="password" name="password" onblur="if (this.value == '') {this.value = 'Contraseña';}"
 											onfocus="if (this.value == 'Contraseña') {this.value = '';}" 
 											value="Contraseña"></div>
					<div id="botonLogin">
						<input type="submit" value="Login">
					</div>
					<div id="botonNuevoUser">
						<input type="button" onclick="location.href='registro.html';" value="Nuevo Usuario" />
					</div>
				</form>
			</div>
		</div>		
	</div>
	<div id="panelCentral">
		<p><h1>¡Bienvenid@!</h1>
		Esta es la página de bienvenida y bla bla bla bla...
		</p>
	</div>
</div>
</body>
</html>