<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>

	<div id="panelCentral">
		<p><h1>¡Bienvenid@!</h1>
		Esta es la página de bienvenida y bla bla bla bla...
		</p>
	</div>
</div>
</body>
</html>