<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
		<p><h1>¡Bienvenid@!</h1>
		Puedes crear un usuario o iniciar sesión a través de los botones situados en el menu superior.
		</p>
	</div>
</div>
</body>
</html>