<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="shortcut icon" href="./img/icono.ico" />
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<link rel="stylesheet" href="./css/formularios.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>
        <%- include("menu") %>

	<div id="panelCentral">
		<div id="formulario">
			<p><h1>Login</h1>
			Introduce los datos para loguearte:
			</p>		
                        <% if (errores !== undefined) { %>
                            <div id="caja_errores_form">                            
                                La información introducida no es correcta:                            
                                <ul>
                                    <% errores.forEach(function(error) { %>
                                    <li><%= error.msg %></li>
                                    <% }); %>
                                </ul>                            
                            </div>
                        <% } %>
			<form action="procesar_login" method="POST"> 
				<p><label for="user">Nombre de usuario:</label><input type="text" name="user"></p>
				<p><label for="password">Contraseña:</label><input type="password" name="password"></p>
				<p><input type="submit" id="submit" value="Login"></p>
			</form>
		</div>
	</div>
        <%- include("pie") %>
</div>
</body>
</html>