<menu>
<div id="menu">

    <% if(session.nick) { %>
        <a href="/index.html"><input type="submit" class="botonMenu" value="Inicio"></a>
         <a href="/unirsePartida.html"><input type="submit" class="botonMenu" value="Unirse a partida"></a>
         <a href="/creaPartida.html"><input type="submit" class="botonMenu" value="Crear Partida"></a>
    <% } else { %>
        <a href="/index.html"><input type="submit" class="botonMenu" value="Inicio"></a>
         <a href="/login.html"><input type="submit" class="botonMenu" value="Login"></a>
         <a href="/registro.html"><input type="submit" class="botonMenu" value="Nuevo Usuario"></a>
    <% } %>

</div>
</menu>