<!DOCTYPE html>
<html lang="es">
    <!-- Página HTML -->
<head>
<title>Saboteur</title>
<link rel="stylesheet" href="./css/estiloGeneral.css" />
<link rel="stylesheet" href="./css/formularios.css" />
<meta charset="utf-8"/>
</head>
	
<body>
<div id="all">
	<%- include("cabecera") %>

	<div id="panelCentral">
		<div id="formulario">
			<p><h1>Nuevo usuario</h1>
			Introduce los datos para crear un nuevo usuario. Los campos marcados con asterísco (<span>*</span>) son obligatorios:
			</p>		
			<form action="index_post.html" method="POST"> 
				<p><label for="usuario">Nombre de usuario:<span>*</span></label><input type="text" name="datosNuevoUsuario[usuario]"></p>
				<p><label for="contraseña">Contraseña:<span>*</span></label><input type="password" name="datosNuevoUsuario[contraseña]"></p>
				<p><label for="nombre">Nombre completo:<span>*</span></label><input type="text" name="datosNuevoUsuario[nombre]"></p>	
				<p><label for="sexo">Sexo:<span>*</span></label><input type="radio" name="datosNuevoUsuario[sexo]" value="hombre"> Hombre		
					<input type="radio" name="datosNuevoUsuario[sexo]" value="mujer"> Mujer</p>				
				<p><label for="foto">Foto: </label><input type="file" name="datosNuevoUsuario[foto]"></p>
				<p><label for="nacimiento">Fecha de nacimiento:</label><input type="date" name="datosNuevoUsuario[nacimiento]"></p>
				<p><input type="submit" value="Crear cuenta"></p>
			</form>
		</div>
	</div>
	</div>
</div>
</body>
</html>