#cajaComentarios{
    display: block;
}

#comentario{
	clear: both;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
	background-color: lemonchiffon;
	padding: 5px 10px 5px 10px;
	border-radius: 8px;
        display: block;
        position:relative;
        margin-bottom: 20px;
        width: 525px;
        margin-left: 35px;  
}

#escribirComentario{
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background-color: navajowhite;
    width: 525px;
    margin-left: 35px;
}

#escribirComentario p{
    padding: 5px 10px 5px 10px;
}


.fechaComentario{
    font-style: italic;
    font-size: 11px;
}

.nombreComentario{
    color:maroon;
    font-size: 20px;
    font-style:normal;

}

.textoComentario{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    padding-left: 20px;
}

.cajaComentario{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    width: 100%;
}

.polaroid {
  background-color: navajowhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.polaroid img {
    padding: 5px 10px 5px 10px;
    float: left;
}

.container {
  text-align: left;
  padding: 10px 10px 30px 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
