@import url('https://fonts.googleapis.com/css?family=Chewy|Lobster+Two|Luckiest+Guy|Shadows+Into+Light+Two|Shrikhand|Rancho|Tillana|Source+Sans+Pro|Mirza');


#all{
	padding: 5px 50px 5px 50px;
	height: 100%;
        font-family: 'Mirza', cursive;
}

html, body{
	height: 100%;
}

body{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#logo{
	float: left;
        display: inline-block;
}

#fotoUsuario{
    float:left;
    clear: both;
    margin-right: 5px;
}

#estiloNickLogout{
    text-align: center;
    float: right;
    font: bold 90% cursive;
    font-size: 25px;
    margin: 10px;
    font-family: 'Chewy', cursive;
}

#datosUsuario{
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 2px 0 rgba(0, 0, 0, 0.4);
	background-color: cornflowerblue;
	border-radius: 15px 50px;
	padding: 5px 10px 5px 10px;
        margin: 15px 20px 10px 0px;
        display: inline-block;
}

#infoConectado{
	text-align: left;
	padding-bottom: 5px;
	color: rgb(0, 51, 51);
	font-weight: bold;
        font-size: 20px;
}

#botonLogin{
    padding-top: 5px;
    float: left;
    clear: both;
    font-family: 'Tillana', cursive;
}

#botonNuevoUser{
	padding-top: 5px;
	float: left;
        font-family: 'Tillana', cursive;
        
}

#menu{
    clear: both;
    float: left;
    text-align: center;
}

#panelCentral{
	clear: both;
	background: rgb(163, 202, 193);
	background: rgba(163, 202, 193, 0.95);
	padding: 10px 30px 40px 30px;
	border-radius: 0px 8px 8px 8px;
        display: block;
        position:relative;        
        font-size: 18.5px;
        min-width: 580px;
}

#pie{
    padding-top: 20px;
}

h1{
    font-weight:bold;
    font-family: 'Lobster Two';
    text-shadow:0 0 1px #000;
    color: black;
    padding:2px 0 0;
    line-height:1.2em;
}

 h2{
    font-weight:bold;
    font-family: 'Lobster Two';
    text-shadow:0 0 1px #000;
    color: darkslategrey;
    padding:2px 0 0;
    line-height:1.2em;
    padding-left: 15px;
}


th{
	background: rgb(0, 102, 102);
	color:azure;
}

table, th, td{
	padding: 5px 10px 5px 10px;
        text-align: center;        
}



td{
    border: 1px solid rgb(0, 102, 102);
    
}     
table{
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 2px 0 rgba(0, 0, 0, 0.39);
}

th:first-child {
-moz-border-radius: 6px 0 0 0;
-webkit-border-radius: 6px 0 0 0;
border-radius: 6px 0 0 0;
}
th:last-child {
-moz-border-radius: 0 6px 0 0;
-webkit-border-radius: 0 6px 0 0;
border-radius: 0 6px 0 0;
} 

.botonMenu {
   height: 50px;
    width: 150px;
    border-radius: 10px 10px 0px 0px;
    background: rgb(0, 102, 102);
    background: rgba(0, 102, 102, 0.95);
    position: relative;
    border: none; 
    text-align: center;
    font-weight:bold;
    font-family: 'Lobster Two';
    text-shadow:0 0 1px #000;
    color: appworkspace;
    padding:2px 0 0;
    line-height:1.2em;
    font-size: 22px;    
}

.botonMenu:hover{
	cursor: pointer;
        color: black;
        background-color: cornflowerblue;
}

.botonMenuActual {
   height: 50px;
    width: 150px;
    border-radius: 10px 10px 0px 0px;
    color: black;
    background: rgb(163, 202, 193);
    background: rgba(163, 202, 193, 0.95);
    position: relative;
    border: 0px solid black; 
    text-align: center;
    font-weight:bold;
    font-family: 'Lobster Two';
    text-shadow:0 0 1px #000;
    padding:2px 0 0;
    line-height:1.2em;
    font-size: 22px;    
}

.botonMenuActual:hover{
	cursor: pointer;
        color: black;
        background: rgb(163, 202, 193);
	background: rgba(163, 202, 193, 0.95);
}

#submit {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 6.5px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
}

#submit:hover {
    background:rgb(204, 204, 204);
}

.botonPartida{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  padding:0;
  font-size:inherit;
  font-weight: bold;
}

botonPartida:hover{
    color:darkblue;
}


.turnoDeJugador{
    background-color: rgb(255, 194, 122);
}

.turnoDeJugador:hover{
    background-color: rgb(255, 219, 176);
}

.trNormal{
  background:rgb(163, 202, 193);
}

.trNormal:hover {
  background: rgb(190, 218, 211);    
}

.sinPartidas{
    color:firebrick;
}

p {
    padding-left: 25px;
}

table {
    margin-left: 35px;
}