@import url('https://fonts.googleapis.com/css?family=Chewy|Lobster+Two|Luckiest+Guy|Shadows+Into+Light+Two|Shrikhand|Rancho|Tillana|Source+Sans+Pro|Mirza');


#all{
	padding: 5px 50px 5px 50px;
	height: 100%;
        font-family: 'Mirza', cursive;
}

html, body{
	height: 100%;
}

body{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

#logo{
	float: left;
}

#fotoUsuario{
    float:left;
    clear: both;
    margin-right: 5px;
}

#estiloNickLogout{
    text-align: center;
    float: right;
    font: bold 90% cursive;
    font-size: 25px;
    margin: 10px;
    font-family: 'Chewy', cursive;
}

#datosUsuario{
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 2px 0 rgba(0, 0, 0, 0.4);
	background: rgb(153, 255, 255);
	background: rgba(153, 255, 255, 0.95);
	border-radius: 15px 50px;
	padding: 5px 10px 5px 10px;
        margin: 20px;
}

#infoConectado{
	text-align: right;
	padding-bottom: 5px;
	color: rgb(0, 51, 51);
	font-weight: bold;
        font-size: 20px;
}

#botonLogin{
    padding-top: 5px;
    float: left;
    clear: both;
    font-family: 'Tillana', cursive;
}

#botonNuevoUser{
	padding-top: 5px;
	float: left;
        font-family: 'Tillana', cursive;
        
}

#menu{
    clear: both;
    margin: 0 auto;
    vertical-align: initial;  
    text-align: center;
}

#panelCentral{
	clear: both;
	background: rgb(163, 202, 193);
	background: rgba(163, 202, 193, 0.85);
	padding: 10px 30px 40px 30px;
	border-radius: 8px;
        display: block;
        position:relative;
        
        font-size: 18.5px;
}

#pie{
    padding-top: 20px;
}

h1, h2{
    font-weight:bold;
    font-family: 'Lobster Two';
    text-shadow:0 0 1px #000;
    color:darkblue;
    padding:2px 0 0;
    line-height:1.2em;
}



th{
	background-color:darkblue;
	color:azure;
}

table, th, td{
	padding: 5px 10px 5px 10px;
        text-align: center;        
}



td{
    border: 1px solid darkblue;
    
}     
table{
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 2px 0 rgba(0, 0, 0, 0.39);
}

th:first-child {
-moz-border-radius: 6px 0 0 0;
-webkit-border-radius: 6px 0 0 0;
border-radius: 6px 0 0 0;
}
th:last-child {
-moz-border-radius: 0 6px 0 0;
-webkit-border-radius: 0 6px 0 0;
border-radius: 0 6px 0 0;
}



 

.botonMenu {
    font-size: 23px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 2px 0 rgba(0, 0, 0, 0.4);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    display:inline-block;
    color:darkblue;
    background: rgb(255, 145, 0);
    padding: 7px 15px;
    white-space: nowrap;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 100px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.botonMenu:hover{
	cursor: pointer;
        background-color: rgb(255, 200, 128);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 2px 0 rgba(0, 0, 0, 0);
}

#submit {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 6.5px;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
}

#submit:hover {
    background:rgb(204, 204, 204);
}

.botonPartida{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  padding:0;
  font-size:inherit;
  font-weight: bold;
}

.botonPartida:hover{
    color:darkblue;
}

.turnoDeJugador{
    background-color: rgb(255, 145, 0);
}

.turnoDeJugador:hover{
    background-color: rgb(255, 178, 77);
}

.trNormal{
  background:rgb(163, 202, 193);
}

.trNormal:hover {
  background: rgb(190, 218, 211);    
}