#formulario form{
	padding-left: 10px;
}

#formulario label{
	text-align:  left;
	float: left;
	display: block;
	width: 200px;
}

#formulario input{
	text-align:  left;
}

#formulario span{
	color: red;
}

#caja_errores_form{
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    background-color: tomato;
}