#tablero, #cartasPropias, #desechar{    
    margin-left: 35px;
}

#filaCartas{
    display: table-row;
}

.casillaCarta{
    display: table-cell;
    background-color: #FFD000;
    border: 1px solid black;
}

.casillaCartaPropia{
    display: table-cell;
    padding: 5px; 
    background-color: #FFD000;
    border: 1px solid black;
}

.casillaCartaVacia{
    display: table-cell;
    background-color: #FFD000;
    border: 1px solid black;
    padding: 75px 75px 0px 0px; 
}

.casillaCartaTurnoActual{
    display: table-cell;
    padding: 5px;    
    background-color: green;
    border: 1px solid black;
}

.casillaDisponible{
    display: table-cell;
    background-color: green;
    border: 1px solid black; 
}

.botonDisponible{
    background-color: green;
    border: none;
    width: 75px;
    height: 75px;
    cursor:pointer;    
}

.casillaCartaDesechar{
    display: table-cell;
    width: 80px;
    height: 80px;
    padding: 5px;    
    background-color: indianred;
    border: 1px solid black;
    float: left;
    margin-right: 15px;
}

.casillaBomba{
    display: table-cell;
    background-color: indianred;
    border: 1px solid black;
}

.casillaLupa{
    display: table-cell;
    background-color: gainsboro;
    border: 1px solid black;
}

.botonDesechar{
    padding: 30px 0px 25px 15px;
}

#submitDesechar {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 6.5px;
    border: 1px solid #ccc;
    background-color: salmon;
    border-radius: 8px 8px 8px 8px;
}

#submitDesechar:hover {
    background:rgb(204, 204, 204);
}

.botonPico{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    padding:0;
    color: darkslategrey;
    font-size:inherit;
    font-weight: bold;
    margin-left: 35px;
}

botonPico:hover{
    color:darkblue;
}